@import '../../styles/_mixins';

.heroContainer {
    display: grid;
    grid-template-columns: minmax(15px, 30px) 1fr minmax(15px, 30px);
    grid-template-rows: 1fr 60px 380px 60px 1fr;
    background-color: var(--black);
    // filter: blur(4px);

    @include md {
        grid-template-columns: minmax(15px, 30px) 80px minmax(320px, auto) 80px minmax(15px, 30px);
    }
}

.hero {
    // background-color: var(--black);
    padding: 4rem 3rem 4rem 2rem;
    margin: auto;
    text-align: center;
    position: relative;
    
    @include md {
        margin: inherit;
        text-align: left;
        padding: 5rem 6rem 5rem 4rem;

        // &:after {
        //     content: "";
        //     width: 600px;
        //     height: 400px;
        //     display: block;
        //     position: absolute;
        //     top: 0;
        //     left: -10%;
        //     background: rgba(0, 0, 0, 0.18);
        //     z-index: -1;
        //     filter: blur(50px);
        //     border-radius: 50%;
        // }
    }
    
}

.cta {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    align-items: center;
    z-index: 100;

    @include md {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }
}

.imageWrapper{
    display: grid;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    grid-column: 1 / -1;
    grid-row: 1 / 6;

    @include md {
        height: 800px;
    }
}

.img {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    transform-origin: right center;
}

.article {
    display: inline-block;
}

.business {
    display: inline-block;
}

.navWrapper {
    position: absolute;
    bottom: 0;
}

.tickWrapper {
    width: 80px;
    height: 3px;
    margin-right: 1rem;
}