.pswp-thumbnails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pswp-thumbnail {
    display: flex;
    border: 2px solid white;
    box-sizing: border-box;
    margin: 0.75rem;
}