@import '../../styles/_mixins.scss';

.segments {
    background: var(--white);
    color: var(--green-gray);
}

.container {
    flex-wrap: wrap;
    overflow: hidden;
}

.title {
    flex: 1 0 100%;
    text-align: center;
}

.cards {
    display: flex;
    flex: 1 0 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    overflow: hidden;
    mask-image: -webkit-radial-gradient(white, black);
    margin-top: 1.5rem;
    max-width: 320px;
}

.ul-settings {
    ul {
        list-style-type: none;
        margin-left: 0;
        padding: 0.75rem 0;
        overflow-y: scroll;
        height: 345px;
        background: white;
        align-self: stretch;
        margin-bottom: 0;
        flex: 1 0 100%;
        -webkit-overflow-scrolling: touch;
    }
}

.headingWrapper {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 1 0 100%;
    text-align: center;
    padding: 1.5rem 0;
}

.sectionTitle {
    margin: 0;
    color: white;
    font-size: 24px;
}

.icon {
    max-width: 80px;
    height: auto;
    margin: 0 auto 0.625rem;
}

.commercial {
    @extend .box;
    @extend .ul-settings;
    background: linear-gradient(#194ecc, #103794);
}

.residencial {
    @extend .box;
    @extend .ul-settings;
    background: linear-gradient(#bd1414, #861414);
}

.item {
    padding: 0.5rem 2rem;
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
}

.banner {
    border-radius: 8px;
    background-color: #e0e0e0;
    padding: 1rem 1.5rem;
    margin: 2rem auto 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 320px;
    p {
        margin: 0;
    }

    @include md {
        max-width: initial;
    }
}

.bannerIcon {
    max-width: 80px;
    max-height: 60px;
    height: auto;
    margin: 0 auto;
    margin-right: 1rem;
    @include md {
        max-width: 40px;
        max-height: 40px;
        margin: 0;
        margin-right: 1.5rem;
    }
}